$main_color: #4790d0;

body {
	-webkit-font-smoothing: antialiased;
	background-color: #f5f5f5;
	font-size: 16px;
	color: #000;

	header {
		padding: 30px 0;
		background-color: $main_color;
		height: 100px;
		width: 100%;
		display: block;
		margin: 0 0 40px 0;

		a.logo {
			background: url('img/victron-energy-logo.png') no-repeat top left;
			width: 221px;
			height: 42px;
			background-size: 221px 42px;
			position: relative;
			display: block;
		}

		nav {
			text-align: right;
			
			ul {
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;
					display: inline-block;
					margin: 10px 20px 0 0;

					a {
						font-weight: bold;
						color: #fff;
						padding: 10px 20px;
						background-color: transparent;
						border: 2px solid rgba(255, 255, 255, 0.4);
						border-radius: 10px;

						&:hover {
							text-decoration: none;
							transition: 0.3s all;
							color: #fff;
							background-color: rgba(255,255,255, 0.2);
						}
					}

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}

	.color-control-background {
		background: url('img/color-control-bg.jpg') no-repeat top left;
		width: 583px;
		height: 616px;
		background-size: 583px 616px;
		position: relative;
	}

	.color-control-interface {
		width: 480px;
		height: 272px;
		border-radius: 10px;
		-webkit-box-shadow:inset 1px 1px 1px 0 rgba(0,0,0,0.2);
		box-shadow:inset 1px 1px 1px 0 rgba(0,0,0,0.2);
		position: absolute;
		top: 35px;
		left: 52px;
		overflow: hidden;

		.color-control-top-bar, .color-control-bottom-bar {
			height: 12.5%;
			display: inline-block;
			width: 100%;
			background-color: #444;
			border-radius: 10px 10px 0 0;
			padding: 0 20px;

			&.color-control-bottom-bar {
				background-color: #444;
				margin-top: -8px;
				display: block;
				height: 14%;
				border-radius: 0 0 10px 10px;

				span {
					display: inline-block;
					color: #fff;
					font-weight: 700;
					font-size: 16px;
					height: 26px;

					i {
						font-weight: 300;
						margin-right: 10px;
					}
					&.overview-button {
						float: left;
						margin: 9px 0 0 48px;
					}
					&.mainmenu-button {
						float: right;
						margin: 9px 26px 0 0;

						i {
							display: block;
							float: left;
							margin-top: 3px;
						}

						p {
							display: block;
							float: left;
							line-height: 19px;
						}
					}

					&.scroll-down-for-more {
						display: none;
						position: absolute;
						width: 100%;
						text-align: center;
						bottom: 2px;
						left: 0;
						background: transparent;
						i {
							font-size: 20px;
						}
					}
				}
			}

			&.color-control-top-bar {
				z-index: 4;

				&.overview-title {
					background-color: transparent;
					color: #444;

					i {
						color: #444;
					}

					span.top-bar-time {
						color: #444;
					}

					.color-control-top-bar-title  {
						color: #444;
					}
				}

				.color-control-top-bar-title {
					position: relative;
					color: #fff;
					font-weight: 700;
					font-size: 16px;
					margin-top: 6px;
					display: inline-block;

					&.title-has-chevron {
						margin-left: 17px;
					}

					i {
						position: absolute;
						left: -12px;
						top: 5px;
						font-size: 11px;
					}
				}

				i {
					position: absolute;
					color: #fff;
					font-size: 18px;
				}
				i.icon-warning {
					right: 60px;
					top: 7px;
				}

				i.icon-exchange {
					right: 87px;
					top: 7px;
				}

				i.icon-location {
					right: 111px;
					top: 7px;
				}

				span.top-bar-time {
					position: absolute;
					font-weight: 700;
					color: #fff;
					right: 15px;
					top: 7px;
				}

			}	

		}

		.all-html-content {
			display: none;
		}

		.overview-content {
			display: none;
		}

		.interface-container {
			background-color: #fff;
			height: 75%;
			display: inline-block;
			width: 100%;
			overflow: hidden;

			.all-html-content {
				display: block;
			}

			&.in-overview{
				width: 480px;
				height: 272px;
				margin-top: -34px;
				background-color: #f1f1f1;
			}

			.overview-content {
				display: block;
				position: relative;
				width: 100%;
				height: 100%;

				.flexslider {
					ul {
						width: 480px;
						height: 272px;
						overflow: hidden;
						
						li {
							padding: 10px;
							margin: 0;
							width: 100%;
							height: 100%;
							border-bottom: 0;

							&.overview-bmv {
								.image-meta {

									&.image-battery {
										top: 70px;
										bottom: auto;
										left: 140px;
											
										.image {
											background: url('img/battery-160.png') no-repeat top left;
											width: 80px;
											height: 80px;
											background-size: 80px 80px;
										}
									}
								}

								.overview-icon {
							
									&.icon-dc-system-battery {
										top: 80px;
										left: 237px;
									}

								}

								.ac-in, .ac-out, .dc-system {

									&.dc-system {
										left: 272px;
										top: 77px;
									}
								}

							}
							&.overview-inverter {

								.image-meta {
									&.image-inverter {
										top: 100px;
										left: 257px;
											
										.image {
											background: url('img/phoenix-160.png') no-repeat top left;
											width: 80px;
											height: 80px;
											background-size: 80px 80px;
										}
									}

									&.image-multiplus {
										top: 50px;
										left: 120px;
											
										.image {
											background: url('img/multiplus-160.png') no-repeat top left;
											width: 80px;
											height: 80px;
											background-size: 80px 80px;
										}
									}

									&.image-battery {
										left: 120px;
											
										.image {
											background: url('img/battery-160.png') no-repeat top left;
											width: 80px;
											height: 80px;
											background-size: 80px 80px;
										}
									}
								}

								.overview-icon {
									&.icon-ac-in-multiplus {
										top: 80px;
										left: 84px;
									}

									&.icon-ac-out-multiplus {
										top: 58px;
										left: 217px;
									}

									&.icon-inverter-multiplus {
										top: 98px;
										left: 217px;
									}

									&.icon-battery-multiplus {
										top: 148px;
										left: 149px;
									}

									&.icon-dc-system-battery {
										top: 215px;
										left: 217px;
									}

								}

								.overview-icon-info {

									&.info-multiplus-battery {
										top: 148px;
										left: 100px;
									}

									&.info-multiplus-inverter {
										top: 125px;
										left: 210px;
									}
								}

								.ac-in, .ac-out, .dc-system {
									&.ac-out {
										left: 257px;
										top: 50px;
									}

									&.dc-system {
										left: 257px;
										top: 212px;
									}
								}
							}
							.ac-in, .ac-out, .dc-system {
								position: absolute;
								top: 50px;
								left: 20px;

								span {
									font-size: 12px;
									display: block;

									&.sub-title {
										color: #444;
										font-weight: 700;
									}

									&.sub-desc {
										color: #777;
									}
								}

								&.ac-out {
									left: 285px;
									top: 50px;
								}

								&.dc-system {
									left: 285px;
									top: 185px;
								}
							}

							.overview-icon {
								background-color: #ddd;
								color: #444;
								font-size: 14px;
								display: inline-block;
								position: absolute;
								border-radius: 3px;

								.arrow-inactive {
									background: url('img/arrow-inactive.png') no-repeat top left;
									width: 20px;
									height: 20px;
									background-size: 20px 20px;
								}

								.gif-arrow-up {
									background: url('img/arrow-up-gif.gif') no-repeat top left;
									width: 20px;
									height: 20px;
									background-size: 20px 20px;
								}

								.gif-arrow-right {
									background: url('img/arrow-right-gif.gif') no-repeat top left;
									width: 20px;
									height: 20px;
									background-size: 20px 20px;
								}

								.gif-arrow-left {
									background: url('img/arrow-left-gif.gif') no-repeat top left;
									width: 20px;
									height: 20px;
									background-size: 20px 20px;
								}

								.gif-arrow-down {
									background: url('img/arrow-right-gif.gif') no-repeat top left;
									width: 20px;
									height: 20px;
									background-size: 20px 20px;
								}

								&.icon-ac-in-multiplus {
									top: 80px;
									left: 114px;
								}

								&.icon-ac-out-multiplus {
									top: 80px;
									left: 247px;
								}

								&.icon-battery-multiplus {
									top: 148px;
									left: 178px;
								}

								&.icon-dc-system-battery {
									top: 215px;
									left: 247px;
								}

								&.icon-solar-battery {
									top: 215px;
									left: 114px;
								}
							}

							.overview-icon-info {
								position: absolute;
								font-weight: 700;
								color: #444;

								&.info-solar-battery {
									top: 190px;
									left: 110px;
								}

								&.info-multiplus-battery {
									top: 148px;
									left: 208px;
								}
							}
							.image-meta {
								-webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
								box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
								background-color: #fff;
								position: absolute;

								&.scroll-active {
									outline: 2px solid #4790D0;
								}

								&.image-battery {
									bottom: 20px;
									left: 150px;

									.image {
										background: url('img/battery-160.png') no-repeat top left;
										width: 80px;
										height: 80px;
										background-size: 80px 80px;
									}
									
								}

								&.image-multiplus {
									top: 50px;
									left: 150px;
										
									.image {
										background: url('img/multiplus-160.png') no-repeat top left;
										width: 80px;
										height: 80px;
										background-size: 80px 80px;
									}
								}

								&.image-mppt {
									bottom: 20px;
									left: 20px;

									.image {
										background: url('img/solar-160.png') no-repeat top left;
										width: 80px;
										height: 80px;
										background-size: 80px 80px;
									}
								}
							}

							.overview-meta {
								-webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
								box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
								background-color: #fff;
								width: 120px;
								position: absolute;
								top: 50px;
								right: 0;
								display: none;

								&.active-meta {
									display: block;
								}

								span {
									font-size: 12px;
									display: block;
									color: #777;
									margin: 0 0 5px 10px;

									&.main-title {
										background-color: #444;
										color: #fff;
										font-weight: bold;
										padding: 5px 10px;
										margin: 0 0 5px 0;
									}

									&.sub-title {
										margin: 0 0 0 10px;
										color: #444;
										font-weight: bold;
									}
								}
							}
						}
					}
				}
			}
			
			p {
				display: none;
			}

			ul {
				margin: 0;
				padding: 0;
				width: 480px;
				height: 204px;
				overflow: auto;

				li {
					height: 34px;
					width: 100%;
					border-bottom: 1px solid #ddd;
					padding: 6px 0 0 20px;
					position: relative;

					&.selected {
						background-color: $main_color;
						border-bottom-color: $main_color;
						color: #fff;
						transition: 0.5s all;
						&.special-span {
							b {
								background-color: rgba(255,255,255, 0.2);
								color: #fff;
							}
						}
						.select-span {
							background-color: rgba(255,255,255, 0.2);
							color: #fff;
						}

						&.select-option {
							&:before {
								font-family: 'icomoon';
								content: "\e73b";
								color: #fff;
							}
						}

						&:hover {
							color: #fff;
						}
					}

					&.list-item-hidden {
						display: none;
					}

					&.special-span {
						b {
							font-weight: normal;
							background-color: #ddd;
							padding: 3px 10px;
							float: right;
							color: #777;
							border-radius: 3px;
							margin: -3px 20px 0 0;
						}
					}

					.select-span {
						background-color: #ddd;
						padding: 3px 10px;
						display: inline-block;
						float: right;
						margin: -3px 20px 0 0;
						border-radius: 3px;
						color: #777;
					}

					&.select-option {

						&:before {
							font-family: 'icomoon';
							content: "\e73c";
							background-color: transparent;
							width: 20px;
							height: 20px;
							float: left;
							top: 0;
							left: 0;
							margin: -4px 10px 0 0;
							font-size: 20px;
							color: #777;
						}
					}
					&:hover {
						color: $main_color;
						transition: 0.3s all;
					}
					ul {
						display: none;

						&.active {
							position: absolute;
							z-index: 99;
							left: 0;
							top: 36px;
							padding: 0;
							display: block;
							background-color: #fff;
							overflow: auto;

							li {
								list-style-type: none;
							}

							ul {
								top: 0;

								&.active {
									height: 100%;
									overflow: hidden;
								}
							}
						}


					}

					&.has-children:before {
						float: right;
						margin: 3px 20px 0 0;
						font-family: 'icomoon';
						content: '\e8ac';
						speak: none;
				        font-weight: normal;
				        font-variant: normal;
				        text-transform: none;
				        line-height: 1;
				        -webkit-font-smoothing: antialiased;
					}

					&.menu-break {
						background-color: #ddd;
						color: #000;
						padding: 5px 20px;
						font-weight: 700;
					}
				}

			}
		}

	}

	.color-control-buttons {
		position: absolute;
		height: 240px;
		width: 100%;
		top: 350px;

		div {
			position: absolute;

			&:hover {
				cursor: pointer;
			}

			&.color-control-button-left, &.color-control-button-right {
				width: 73px;
				height: 73px;
				border-radius: 50%;

				&.color-control-button-left {
					top: 16px;
					left: 126px;
				}

				&.color-control-button-right {
					right: 125px;
					top: 16px;
				}
				
			}

			i, .space-icon {
				color: #fff;
				font-size: 24px;
			}

			.text-icon {
				position: absolute;
				font-size: 14px;
				display: inline-block;
				font-weight: 700;
				color: #fff;

				&.space-icon {
					top: 32%;
					left: 15%;
				}

				&.shift-icon {
					top: 35%;
					left: 20%;
				}

				&.enter-icon {
					top: 35%;
					left: 20%;
				}
			}

			&.color-control-button-nav-left {
				height:100px;
				width:55px;
				top: 90px;
				left: 215px;
				border-radius: 90px 0 0 90px;
				-moz-border-radius: 90px 0 0 90px;
				-webkit-border-radius: 90px 0 0 90px;

				i {
					position: absolute;
					top: 40%;
					left: 20px;
				}
			}

			&.color-control-button-nav-top {
				top: 55px;
				left: 255px;
				height:55px;
				width:100px;
				border-radius: 90px 90px 0 0;
				-moz-border-radius: 90px 90px 0 0;
				-webkit-border-radius: 90px 90px 0 0;

				i {
					position: absolute;
					top: 40%;
					left: 35%;
				}
			}

			&.color-control-button-nav-right {
				height:100px;
				width:55px;
				top: 90px;
				right: 215px;
				border-radius: 0 90px 90px 0;
				-moz-border-radius: 0 90px 90px 0;
				-webkit-border-radius:  0 90px 90px 0;

				i {
					position: absolute;
					top: 40%;
					right: 20px;
				}
			}

			&.color-control-button-nav-bottom {
				top: 180px;
				left: 255px;
				height:55px;
				width:100px;
				border-radius: 0 0 90px 90px;
				-moz-border-radius: 0 0 90px 90px;
				-webkit-border-radius: 0 0 90px 90px;

				i {
					position: absolute;
					bottom: 40%;
					left: 34%;
				}
			}

			&.color-control-button-nav-middle {
				border-radius: 50%;
				top: 108px;
				left: 265px;
				width: 73px;
				height: 73px;
				z-index: 99;
			}
		}

	}
}

.latest-changes {
	h3 {
		font-size: 18px;
	}

	ul {
		margin: 0;
		padding: 0;
		height: 600px;
		overflow: scroll;

		li {
			font-size: 12px;
			background-color: #fff;
			list-style-type: none;
			padding: 15px 20px;
			margin: 10px 0 0 0;
			-webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);

			&:first-child {
				margin: 0;
			}

			h5 {
				line-height: 1.5;
				margin-top: 0;
				color: #444;
				font-size: 12px;
			}

			span {
				color: #777;
			}
		}
	}
}

	.interface-toggle {
		display: none;
	    position: relative; 
	    width: 90px;
	    -webkit-user-select:none; 
	    -moz-user-select:none; 
	    -ms-user-select: none;
		
		.interface-toggle-checkbox {
	    	display: none;
		}
		
		.interface-toggle-label {
	    	display: block; 
	    	overflow: hidden; 
	    	cursor: pointer;
	   		border: 2px solid #fff;
	   		border-radius: 20px;
		}

		.interface-toggle-inner {
	    	width: 200%; 
	    	margin-left: -100%;
	    	-moz-transition: margin 0.3s ease-in 0s; 
	    	-webkit-transition: margin 0.3s ease-in 0s;
	    	-o-transition: margin 0.3s ease-in 0s; 
	    	transition: margin 0.3s ease-in 0s;

	    	&:before, &:after {
	    		float: left; 
	    		width: 50%; 
	    		height: 25px; 
	    		padding: 0; 
	    		line-height: 25px;
	    		font-size: 14px; 
	    		color: #fff; 
	    		font-family: Trebuchet, Arial, sans-serif; 
	    		font-weight: bold;
	    		-moz-box-sizing: border-box; 
	    		-webkit-box-sizing: border-box; 
	    		box-sizing: border-box;
			}

			&:before {
				content: "ON";
	    		padding-left: 10px;
	    		background-color: $main_color;
	    		color: #fff;
			}

			&:after {
				content: "OFF";
	    		padding-right: 10px;
	    		background-color: #ddd; 
	    		color: #444;
	    		text-align: right;
			}
		}

		.interface-toggle-switch {
			width: 18px;
			height: 18px; 
			margin: 6px;
	    	background: #FFFFFF;
	    	border-radius: 20px;
	    	position: absolute; 
	    	top: 0; 
	    	bottom: 0; 
	    	right: 56px;
	    	-moz-transition: all 0.3s ease-in 0s; 
	    	-webkit-transition: all 0.3s ease-in 0s;
	    	-o-transition: all 0.3s ease-in 0s; 
	    	transition: all 0.3s ease-in 0s;
		}

		.interface-toggle-checkbox:checked + .interface-toggle-label .interface-toggle-inner {
	    	margin-left: 0;
		}
		.interface-toggle-checkbox:checked + .interface-toggle-label .interface-toggle-switch {
		    right: 0px; 
		}
	}

	.menu-toggle-item {
		.interface-toggle {
			z-index: 999;
			display: block;
			float: right;
			margin-top: -5px;
			margin-right: 10px;
		}

		b {
			display: none;
		}
	}

	.latest-documentation {
		input[type="text"] {
			width: 100%;
			padding: 10px;
		}
	}
	
	.ui-helper-hidden-accessible {
		display: none!important;
	}
	
	.ui-autocomplete {
		position: absolute;
		top: 50px;
		min-height: 50px;
		left: 0;
		cursor: default;
		background-color: #fff;
		-webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a {
				width: 100%;
				display: inline-block;
				padding: 20px;
				color: #444;

				&:hover {
					text-decoration: none;
					background-color: $main_color;
					color: #fff;
					transition: all 0.3s;
					cursor: pointer;

					span.autocomplete-breadcrumbs {
						color: rgba(255,255,255, 0.8);

						span {
							&.breadcrumb-arrow {
								color: #fff;
							}
						}
					}
				}


			}

			span.autocomplete-breadcrumbs {
				display: block;
				color: #777;
				font-size: 12px;

				span {
					&.breadcrumb-arrow {
						color: $main_color;

						&:last-child {
							display: none;
						}
					}
				}
			}

			span.autocomplete-label {
				font-weight: 700;
				display: block;
			}
		}
	}

	.doc-tooltip, .back-tooltip {
		position: absolute;
		text-align: center;
		width: 100%;
		right: 0;
		top: 34px;
		z-index: 999;

		span {
			z-index: 999;

			i {
				font-size: 10px;
				display: inline-block;
				margin: -1px 0 0 10px;

				&:hover {
					cursor: pointer;
				}
			}
			background-color: #444;
			color: #fff;
			padding: 8px 15px;
			font-weight: 700;
			display: inline-block;

			&:after, &:before {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #444;
				border-width: 4px;
				margin-left: -4px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-bottom-color: #444;
				border-width: 4px;
				margin-left: -4px;
			}

		}

		&.tooltip-last {
			top: -34px;

			span {
				&:after, &:before {
					top: 100%;
					left: 50%;
					border-top-color: #444;
					border-bottom-color: rgba(136, 183, 213, 0);
				}
			}
		}

		&.back-tooltip {
			top: 70%;
			right: 16%;
			text-align: left;
			width: auto;

			span {
				
				&:after, &:before {
					top: 100%;
					left: 92%;
				}

				&:after {
					border-bottom-color: rgba(136, 183, 213, 0);
					border-top-color: #444;
				}

				&:before {
					border-bottom-color: rgba(136, 183, 213, 0);
					border-top-color: #444;
				}
			}
		}
		
	}

	.doc-description {
		position: relative;
		display: inline-block;
		-webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		width: 100%;
		margin: 40px 0 0 0;
		padding: 20px;

		.doc-description-text {
			color: #777;
		}

		.doc-description-title {
			font-weight: 700;
			color: #444;
		}
	}