$main_color: #4790d0;

body {
	-webkit-font-smoothing: antialiased;
	background-color: #f5f5f5;
	font-size: 16px;
	color: #000;

	header {
		padding: 30px 0;
		background-color: $main_color;
		height: 100px;
		width: 100%;
		display: block;
		margin: 0 0 40px 0;

		a.logo {
			background: url('img/victron-energy-logo.png') no-repeat top left;
			width: 221px;
			height: 42px;
			background-size: 221px 42px;
			position: relative;
			display: block;
		}

		nav {
			text-align: right;
			
			ul {
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;
					display: inline-block;
					margin: 0 20px 0 0;

					a {
						font-weight: bold;
						color: #fff;
						display: inline-block;
						padding: 10px 20px;
						margin: 0 0 0 0;
						background-color: transparent;
						border: 2px solid rgba(255, 255, 255, 0.4);
						border-radius: 10px;

						&:hover {
							text-decoration: none;
							transition: 0.3s all;
							color: #fff;
							background-color: rgba(255,255,255, 0.2);
						}
					}

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}

	.color-control-background {
		background: url('img/color-control-bg.jpg') no-repeat top left;
		width: 583px;
		height: 616px;
		background-size: 583px 616px;
		position: relative;
	}

	.color-control-interface {
		width: 480px;
		height: 272px;
		border-radius: 10px;
		-webkit-box-shadow:inset 1px 1px 1px 0 rgba(0,0,0,0.2);
		box-shadow:inset 1px 1px 1px 0 rgba(0,0,0,0.2);
		position: absolute;
		top: 35px;
		left: 52px;
		overflow: hidden;

		.color-control-top-bar, .color-control-bottom-bar {
			height: 12.5%;
			display: inline-block;
			width: 100%;
			background-color: #444;
			border-radius: 10px 10px 0 0;
			padding: 0 20px;

			&.color-control-bottom-bar {
				background-color: #444;
				margin-top: -8px;
				display: block;
				height: 14%;
				border-radius: 0 0 10px 10px;

				span {
					display: inline-block;
					color: #fff;
					font-weight: 700;
					font-size: 16px;
					height: 26px;

					i {
						font-weight: 300;
						margin-right: 10px;
					}
					&.overview-button {
						float: left;
						margin: 9px 0 0 50px;
					}
					&.mainmenu-button {
						float: right;
						margin: 9px 48px 0 0;

						i {
							display: block;
							float: left;
							margin-top: 3px;
						}

						p {
							display: block;
							float: left;
							line-height: 19px;
						}
					}

					&.scroll-down-for-more {
						display: none;
						position: absolute;
						width: 100%;
						text-align: center;
						bottom: 2px;
						left: 0;
						background: transparent;
						i {
							font-size: 20px;
						}
					}
				}
			}

			&.color-control-top-bar {
				z-index: 4;

				&.overview-title {
					background-color: transparent;
					color: #444;

					i {
						color: #444;
					}

					span.top-bar-time {
						color: #444;
					}

					.color-control-top-bar-title  {
						color: #fff;
					}
				}

				.color-control-top-bar-title {
					position: relative;
					color: #fff;
					font-weight: 700;
					font-size: 16px;
					margin-top: 6px;
					display: inline-block;

					&.title-has-chevron {
						margin-left: 17px;
					}

					i {
						position: absolute;
						left: -12px;
						top: 5px;
						font-size: 11px;
					}
				}

				i {
					position: absolute;
					color: #fff;
					font-size: 18px;
				}
				i.icon-warning {
					right: 60px;
					top: 7px;
				}

				i.icon-exchange {
					right: 87px;
					top: 7px;
				}

				i.icon-location {
					right: 111px;
					top: 7px;
				}

				span.top-bar-time {
					position: absolute;
					font-weight: 700;
					color: #fff;
					right: 15px;
					top: 7px;
				}

			}	

		}

		.all-html-content {
			display: none;
		}

		.overview-content {
			display: none;
		}

		.interface-container {
			background-color: #fff;
			height: 75%;
			display: inline-block;
			width: 100%;
			overflow: hidden;

			.all-html-content {
				display: block;
			}

			&.in-overview{
				width: 480px;
				height: 272px;
				margin-top: -34px;
				background-color: #fff;
			}

			.overview-content {
				display: block;
				position: relative;
				width: 100%;
				height: 100%;

				.flexslider {
					ul {
						width: 480px;
						height: 272px;
						overflow: hidden;
						
						li {
							padding: 10px;
							margin: 0 0 0 20px;
							width: 100%;
							height: 100%;
							border-bottom: 0;
							
							.ac-in, .ac-out, .dc-system, .battery-info, .pv-inverter, .battery-percentage {
								position: absolute;
								bottom: 50px;
								left: 0;

								span {
									font-size: 18px;
									display: block;

									&.sub-title {
										color: #fff;
										padding: 3px 10px;
										background-color: #444;
										font-weight: 700;
									}

									&.sub-desc {
										padding: 1px 8px;
										background-color: #ddd;
										color: #000;	
									}
								}

								&.battery-info {
									left: 140px;
									bottom: 20px;

									span {
										background-color: transparent;
									}
									
								}

								&.ac-in {
									left: 0px;
									top: 30px;
								}

								&.ac-out {
									right: 69px;
									left: auto;
									top: 30px;
								}

								&.pv-inverter {
									right: 40px;
									left: auto;
									bottom: 15px;
								}

								&.battery-percentage {
									bottom: 60px;
									left: 155px;
									font-size: 18px;
									color: #fff;

									span {
										background-color: transparent;
										font-size: 22px;
										font-weight: bold;
										color: #fff;
										text-shadow: 2px 2px #444;
									}
								}
							}

							.overview-line {

								.line-horizontal, .line-vertical {
									position: absolute;
									background-color: #4790d0;

									&.line-horizontal {
										&:after {
											content: "";
											width: 10px;
											height: 10px;
											background-color: #4789d0;
											position: absolute;
											top: -3px;
											left: -1px;
											border-radius: 50%;
										}
									}

									&.line-vertical {
										&:after {
											content: "";
											width: 10px;
											height: 10px;
											background-color: #4789d0;
											position: absolute;
											top: -1px;
											left: -3px;
											border-radius: 50%;
										}
									}
								}

								.line-connector {
									width: 15px;
									height: 15px;
									border-radius: 50%;
									position: absolute;
									background-color: #fff;
									border: 4px solid #4790d0;
								}

								i {
									position: absolute;
									color: #4790d0;
									font-size: 17px;
								}

								&.line-solar-battery {

									.line-vertical {
										width: 4px;
										height: 52px;
										top: 120px;
										right: 172px;

										&:after {
											display: none;
										}
									}

									.line-horizontal {
										right: 172px;
										top: 120px;
										width: 78px;
										height: 4px;
									}

									.line-connector {
										bottom: 97px;
										right: 167px;
									}

									i {
										top: 153px;
										right: 166px;
									}
								}

								&.line-battery-multiplus {
									.line-vertical {
										width: 4px;
										height: 37px;
										top: 129px;
										right: 282px;
									}

									i {
										top: 160px;
										right: 276px;
									}

									.line-connector {
										top: 165px;
										right: 276px;
									}
								}

								&.line-ac-in-multiplus {
									.line-horizontal {
										height: 4px;
										width: 85px;
										top: 42px;
										right: 320px;

										&:after {
											left: auto;
											right: -1px;
										}
									}

									i {
										top: 36px;
										right: 393px;
									}

									.line-connector {
										top: 37px;
										right: 400px;
									}
								}

								&.line-ac-out-multiplus {
									.line-horizontal {
										height: 4px;
										width: 85px;
										top: 42px;
										right: 165px;
									}

									i {
										top: 36px;
										right: 154px;
									}

									.line-connector {
										top: 37px;
										right: 154px;
									}
								}

								&.line-dc-system-battery {
									.line-horizontal {
										height: 4px;
										width: 85px;
										bottom: 92px;
										right: 330px;

										&:after {
											left: auto;
											right: -1px;
										}
									}

									i {
										bottom: 85px;
										right: 403px;
									}

									.line-connector {
										bottom: 87px;
										right: 410px;
									}
								}
							}

							.overview-icon-info {
								position: absolute;
								font-weight: 700;
								color: #444;

								&.info-solar-battery {
									top: 133px;
									left: 260px;
								}

								&.info-multiplus-battery {
									top: 136px;
									left: 138px;
								}
							}
							.image-meta {
								position: absolute;

								&.image-battery {
									bottom: 50px;
									left: 150px;

									.image {
										background: url('img/battery-180.png') no-repeat 10px 5px;
										width: 90px;
										height: 60px;
										background-size: 70px 49px;
									}
									
								}

								&.image-multiplus {
									top: 35px;
									left: 150px;
									
										
									.image {
										background: url('img/multiplus-160.png') no-repeat top left;
										width: 90px;
										height: 90px;
										background-size: 90px 90px;
									}
								}

								&.image-mppt {
									top: auto;
									bottom: 20px;
									right: 105px;

									.image {
										background: url('img/solar-160.png') no-repeat top left;
										width: 90px;
										height: 90px;
										background-size: 90px 90px;
									}
								}
							}
						}
					}
				}
			}
			
			p {
				display: none;
			}

			ul {
				margin: 0;
				padding: 0;
				width: 480px;
				height: 204px;
				overflow: auto;

				li {
					height: 34px;
					width: 100%;
					border-bottom: 1px solid #ddd;
					padding: 6px 0 0 20px;
					position: relative;

					&.selected {
						background-color: $main_color;
						border-bottom-color: $main_color;
						color: #fff;
						transition: 0.5s all;
						&.special-span {
							b {
								background-color: rgba(255,255,255, 0.2);
								color: #fff;
							}
						}
						.select-span {
							background-color: rgba(255,255,255, 0.2);
							color: #fff;
						}

						&.select-option {
							&:before {
								font-family: 'icomoon';
								content: "\e73b";
								color: #fff;
							}
						}

						&:hover {
							color: #fff;
						}
					}

					&.list-item-hidden {
						display: none;
					}

					&.special-span {
						b {
							font-weight: normal;
							background-color: #ddd;
							padding: 3px 10px;
							float: right;
							color: #777;
							border-radius: 3px;
							margin: -3px 20px 0 0;
						}
					}

					.select-span {
						background-color: #ddd;
						padding: 3px 10px;
						display: inline-block;
						float: right;
						margin: -3px 20px 0 0;
						border-radius: 3px;
						color: #777;
					}

					&.select-option {

						&:before {
							font-family: 'icomoon';
							content: "\e73c";
							background-color: transparent;
							width: 20px;
							height: 20px;
							float: left;
							top: 0;
							left: 0;
							margin: -4px 10px 0 0;
							font-size: 20px;
							color: #777;
						}
					}
					&:hover {
						color: $main_color;
						transition: 0.3s all;
					}
					ul {
						display: none;

						&.active {
							position: absolute;
							z-index: 99;
							left: 0;
							top: 36px;
							padding: 0;
							display: block;
							background-color: #fff;
							overflow: auto;

							li {
								list-style-type: none;
							}

							ul {
								top: 0;

								&.active {
									height: 100%;
									overflow: hidden;
								}
							}
						}


					}

					&.has-children:before {
						float: right;
						margin: 3px 20px 0 0;
						font-family: 'icomoon';
						content: '\e8ac';
						speak: none;
				        font-weight: normal;
				        font-variant: normal;
				        text-transform: none;
				        line-height: 1;
				        -webkit-font-smoothing: antialiased;
					}

					&.menu-break {
						background-color: #ddd;
						color: #000;
						padding: 5px 20px;
						font-weight: 700;
					}
				}

			}
		}

	}

	.color-control-buttons {
		position: absolute;
		height: 240px;
		width: 100%;
		top: 340px;

		div {
			background-color: transparent;
			position: absolute;

			&:hover {
				cursor: pointer;
			}

			&.color-control-button-left, &.color-control-button-right {
				width: 73px;
				height: 73px;
				border-radius: 50%;

				&.color-control-button-left {
					top: 2px;
					left: 120px;
				}

				&.color-control-button-right {
					right: 120px;
					top: 2px;
				}
				
			}

			i, .space-icon {
				color: #fff;
				font-size: 24px;
			}

			.text-icon {
				position: absolute;
				font-size: 14px;
				display: inline-block;
				font-weight: 700;
				color: #fff;

				&.space-icon {
					top: 32%;
					left: 15%;
				}

				&.shift-icon {
					top: 35%;
					left: 20%;
				}

				&.enter-icon {
					top: 35%;
					left: 20%;
				}
			}

			&.color-control-button-nav-left {
				height:100px;
				width:55px;
				top: 80px;
				left: 200px;
				border-radius: 90px 0 0 90px;
				-moz-border-radius: 90px 0 0 90px;
				-webkit-border-radius: 90px 0 0 90px;

				i {
					position: absolute;
					top: 40%;
					left: 20px;
				}
			}

			&.color-control-button-nav-top {
				top: 35px;
				left: 240px;
				height:55px;
				width:100px;
				border-radius: 90px 90px 0 0;
				-moz-border-radius: 90px 90px 0 0;
				-webkit-border-radius: 90px 90px 0 0;

				i {
					position: absolute;
					top: 40%;
					left: 35%;
				}
			}

			&.color-control-button-nav-right {
				height:100px;
				width:55px;
				top: 80px;
				right: 200px;
				border-radius: 0 90px 90px 0;
				-moz-border-radius: 0 90px 90px 0;
				-webkit-border-radius:  0 90px 90px 0;

				i {
					position: absolute;
					top: 40%;
					right: 20px;
				}
			}

			&.color-control-button-nav-bottom {
				top: 160px;
				left: 240px;
				height:55px;
				width:100px;
				border-radius: 0 0 90px 90px;
				-moz-border-radius: 0 0 90px 90px;
				-webkit-border-radius: 0 0 90px 90px;

				i {
					position: absolute;
					bottom: 40%;
					left: 34%;
				}
			}

			&.color-control-button-nav-middle {
				border-radius: 50%;
				top: 85px;
				left: 255px;
				width: 73px;
				height: 73px;
				z-index: 99;
			}
		}

	}
}

	.interface-toggle {
		display: none;
	    position: relative; 
	    width: 90px;
	    -webkit-user-select:none; 
	    -moz-user-select:none; 
	    -ms-user-select: none;
		
		.interface-toggle-checkbox {
	    	display: none;
		}
		
		.interface-toggle-label {
	    	display: block; 
	    	overflow: hidden; 
	    	cursor: pointer;
	   		border: 2px solid #fff;
	   		border-radius: 20px;
		}

		.interface-toggle-inner {
	    	width: 200%; 
	    	margin-left: -100%;
	    	-moz-transition: margin 0.3s ease-in 0s; 
	    	-webkit-transition: margin 0.3s ease-in 0s;
	    	-o-transition: margin 0.3s ease-in 0s; 
	    	transition: margin 0.3s ease-in 0s;

	    	&:before, &:after {
	    		float: left; 
	    		width: 50%; 
	    		height: 25px; 
	    		padding: 0; 
	    		line-height: 25px;
	    		font-size: 14px; 
	    		color: #fff; 
	    		font-family: Trebuchet, Arial, sans-serif; 
	    		font-weight: bold;
	    		-moz-box-sizing: border-box; 
	    		-webkit-box-sizing: border-box; 
	    		box-sizing: border-box;
			}

			&:before {
				content: "ON";
	    		padding-left: 10px;
	    		background-color: $main_color;
	    		color: #fff;
			}

			&:after {
				content: "OFF";
	    		padding-right: 10px;
	    		background-color: #ddd; 
	    		color: #444;
	    		text-align: right;
			}
		}

		.interface-toggle-switch {
			width: 18px;
			height: 18px; 
			margin: 6px;
	    	background: #FFFFFF;
	    	border-radius: 20px;
	    	position: absolute; 
	    	top: 0; 
	    	bottom: 0; 
	    	right: 56px;
	    	-moz-transition: all 0.3s ease-in 0s; 
	    	-webkit-transition: all 0.3s ease-in 0s;
	    	-o-transition: all 0.3s ease-in 0s; 
	    	transition: all 0.3s ease-in 0s;
		}

		.interface-toggle-checkbox:checked + .interface-toggle-label .interface-toggle-inner {
	    	margin-left: 0;
		}
		.interface-toggle-checkbox:checked + .interface-toggle-label .interface-toggle-switch {
		    right: 0px; 
		}
	}

	.menu-toggle-item {
		.interface-toggle {
			z-index: 999;
			display: block;
			float: right;
			margin-top: -5px;
			margin-right: 10px;
		}

		b {
			display: none;
		}
	}

	.latest-documentation {
		input[type="text"] {

			&.placeholder {
				color: rgba(255,255,255, 0.8);
			}

			&.placeholder-off {
				color: #fff;
			}

			width: 100%;
			padding: 10px;
			border: none;
			background-color: transparent;
			font-size: 18px;
			border-bottom: 2px solid #fff;
			color: #fff;
			&::-webkit-input-placeholder {
			   color: rgba(255,255,255, 0.8);
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: rgba(255,255,255, 0.8);
			   opacity: 1;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: rgba(255,255,255, 0.8);
			   opacity: 1;
			}

			&:-ms-input-placeholder {  
			   color: rgba(255,255,255, 0.8);
			}
		}
	}
	
	.ui-helper-hidden-accessible {
		display: none!important;
	}
	
	.ui-autocomplete {
		position: absolute;
		top: 50px;
		min-height: 50px;
		z-index: 999;
		left: 0;
		cursor: default;
		background-color: #fff;
		-webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a {
				width: 100%;
				display: inline-block;
				padding: 20px;
				color: #444;

				&:hover {
					text-decoration: none;
					background-color: $main_color;
					color: #fff;
					transition: all 0.3s;
					cursor: pointer;

					span.autocomplete-breadcrumbs {
						color: rgba(255,255,255, 0.8);

						span {
							&.breadcrumb-arrow {
								color: #fff;
							}
						}
					}
				}


			}

			span.autocomplete-breadcrumbs {
				display: block;
				color: #777;
				font-size: 12px;

				span {
					&.breadcrumb-arrow {
						color: $main_color;

						&:last-child {
							display: none;
						}
					}
				}
			}

			span.autocomplete-label {
				font-weight: 700;
				display: block;
			}
		}
	}

	.doc-tooltip, .back-tooltip {
		position: absolute;
		text-align: center;
		width: 100%;
		right: 0;
		top: 34px;
		z-index: 999;

		span {
			z-index: 999;

			i {
				font-size: 10px;
				display: inline-block;
				margin: -1px 0 0 10px;

				&:hover {
					cursor: pointer;
				}
			}
			background-color: #444;
			color: #fff;
			padding: 8px 15px;
			font-weight: 700;
			display: inline-block;

			&:after, &:before {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #444;
				border-width: 4px;
				margin-left: -4px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-bottom-color: #444;
				border-width: 4px;
				margin-left: -4px;
			}

		}

		&.tooltip-last {
			top: -34px;

			span {
				&:after, &:before {
					top: 100%;
					left: 50%;
					border-top-color: #444;
					border-bottom-color: rgba(136, 183, 213, 0);
				}
			}
		}

		&.back-tooltip {
			top: 70%;
			right: 16%;
			text-align: left;
			width: auto;

			span {
				
				&:after, &:before {
					top: 100%;
					left: 92%;
				}

				&:after {
					border-bottom-color: rgba(136, 183, 213, 0);
					border-top-color: #444;
				}

				&:before {
					border-bottom-color: rgba(136, 183, 213, 0);
					border-top-color: #444;
				}
			}
		}
		
	}

	.welcome-text {
		font-size: 14px;
		-webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		padding: 20px;
		position: relative;
		color: #777;

		h1,h2,h3,h4,h5,h6 {
			color: #444;
		}

		.keyboard-icons {
			margin: 15px 0 0 0;
			span {
				display: inline-block;
				color: #777;
				font-weight: bold;
				margin: 0 10px 15px 0;

				i {
					padding: 5px;
					border: 2px solid #ddd;
					border-radius: 5px;
					color: #777;
					margin: 0 5px 0 0;
				}

				span {
					padding: 5px 8px;
					border: 2px solid #ddd;
					border-radius: 5px;
					color: #777;

					&.icon-number {
						margin: 0 5px 0 0;
						font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
					}
				}

				&:last-child {
					margin: 0 10px 0 0;
				}
			}
		}
	}

	.latest-changes {
		margin: 20px 0 0 0;
		font-size: 14px;
		-webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		padding: 20px;
		position: relative;
		color: #777;

		h1, h2, h3, h4, h5, h6 {
			color: #444;
		}
	ul {
		margin: 0;
		padding: 0;
		height: 300px;
		overflow: scroll;

		li {
			background-color: #fff;
			list-style-type: none;
			padding: 15px 20px;
			margin: 10px 0 0 0;
			border-bottom: 1px solid #ddd;

			&:first-child {
				margin: 0;
			}

			h5 {
				line-height: 1.5;
				margin-top: 0;
				color: #444;
			}

			span {
				color: #777;
			}
		}
	}
}

	.doc-description {
		position: relative;
		display: none;
		-webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		width: 100%;
		margin: 40px 0 0 0;
		padding: 20px;

		.doc-description-text {
			color: #777;
		}

		.doc-description-title {
			font-weight: 700;
			color: #444;
		}
	}